/*****************************************************
 * Magic Mirror                                      *
 * Custom CSS                                        *
 *                                                   *
 * By Michael Teeuw http://michaelteeuw.nl           *
 * MIT Licensed.                                     *
 *                                                   *
 * Add any custom CSS below.                         *
 * Changes to this files will be ignored by GIT. *
 *****************************************************/

.align-center {
    text-align: center;
}
.CX2 .agenda .eventSub {
    display:none;
}
.CX2 .daily .fullday .eventTime {
    display:none;
}
.CX2 .slot .event{
    background: inherit;
}
.CX2 .slot .slotHeader{
    background-color: inherit;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #666;
    line-height: 15px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #999;
}
.CX2 .today .slotHeader * {
    color: inherit;
}
.CX2 .event.fullday {
    color: inherit;
}
.CX2 .slot .slotFooter {
    display: none;
}
.CX2 .event[data-calendar-name="Andre"],
.CX2 .event[data-calendar-name="Andre Work"] {
    border-left: #ce4138 solid;
}
.CX2 .event[data-calendar-name="Anja"],
.CX2 .event[data-calendar-name="Anja Work"] {
    border-left: #c632ff solid;
}
.CX2 .event[data-calendar-name="Tobi"],
.CX2 .event[data-calendar-name="Tobi Shared"] {
    border-left: #d2cf2a solid;
}